In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('res/income.csv')

In [2]:
df

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income >50K
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

***Простейший случай с 1 нейроном***

In [3]:
def linear_regression(df: pd.DataFrame) -> list[float]:
    weights = [0.5] * len(df.columns)
    return df.dot(weights).tolist()

***Сигмоида***

In [4]:
def activation_func(x: list[float]) -> list[float]:
    return [1 / (1 + (2.71828 ** -i)) for i in x]

In [5]:
def neuron(df: pd.DataFrame):
    temp_result = linear_regression(df)
    result = activation_func(temp_result)
    return result

In [9]:
if __name__ == "__main__":
    Y = df['income >50K']
    X = df[['age']]
    data = pd.DataFrame({"x1": [0.1, 0.2, 0.3], "x2": [0.4, 0.5, 0.6]})
    predictions = neuron(data)
    print("Predictions:", predictions)

Predictions: [np.float64(0.5621765008857981), np.float64(0.5866175789173301), np.float64(0.610639233949222)]

In [11]:
import pandas as pd
import numpy as np

# Загружаем данные
df = pd.read_csv('res/income.csv')

def activation_func(x: list[float]) -> list[float]:
    """Функция активации (сигмоида)"""
    return [1 / (1 + (2.71828 ** -i)) for i in x]

def linear_regression(X: pd.DataFrame, weights: list[float]) -> list[float]:
    """Линейная регрессия для предсказания"""
    return X.dot(weights).tolist()

def neuron(df: pd.DataFrame, target_column: str) -> list[float]:
    """Нейрон, использующий линейную регрессию и функцию активации для данных в df"""
    
    # Разделяем df на признаки и целевую переменную
    X = df.drop(columns=[target_column])  # все столбцы, кроме целевой переменной
    Y = df[target_column]  # целевая переменная
    
    # Инициализация весов (например, равными 0.5 для каждого признака)
    weights = [0.5] * int(X.shape[1])
    
    # Получаем линейное предсказание
    temp_result = linear_regression(X, weights)
    
    # Применяем функцию активации
    result = activation_func(temp_result)
    
    return result

if __name__ == "__main__":
    # Предсказания для данных в df
    target_column = 'income >50K'  # Целевая переменная
    predictions = neuron(df, target_column)
    print("Predictions:", predictions)

TypeError: can't multiply sequence by non-int of type 'float'